* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: white;
  font-family: "LINE Seed Sans TH";
}

header {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  align-items: center;
  padding: 10px 10%;
  background-color: rgb(255, 255, 255);
  transition: all 300ms ease-in-out;
  border-radius: 0px 0px 80px 80px;
}

.scroll-down header {
  transform: translate3d(0, -100%, 0);
}

.scroll-up header {
  filter: drop-shadow(0 -10px 20px rgb(170, 170, 170));
}

.logo {
  margin-right: auto;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links a,
.cta,
.overlay__content a {
  font-size: 1.3em;
  font-weight: bold;
  color: #1E1E1E;
  text-decoration: none;
}

.nav-links li {
  padding: 0px 20px;
}

.contaiter-navbar {
  padding-right: 2em;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: #34B3F1;
}

.contaitner-social {
  display: flex;
}

.contaitner-social a {
  transform: scale(2);
  color: #1E1E1E;
  margin: 1.2em;
}

a i {
  transition: all 0.1s linear;
}

a:hover i {
  transform: scale(1.1);
}

.btn-scoial-fb:hover {
  color: #1F69DD;
}

.btn-scoial-line:hover {
  color: #06C755;
}

.btn-scoial-li:hover {
  color: #0077B5;
}

.contaiter-mobile-navbar {
  display: none;
}

section {
  padding: 30px 10%;
}

.home .contaiter {
  display: flex;
  justify-content: space-between;
  text-align: left;
  margin-top: 130px;
  margin-bottom: 100px;
}
.home .contaiter .left-col h1 {
  font-size: 100px;
  line-height: 1.3em;
  width: 100%;
  transition: all 0.7s ease 0s;
}
.home .contaiter .left-col .hello {
  color: #FD841F;
}
.home .contaiter .left-col .name {
  color: #1E1E1E;
}
.home .contaiter .left-col .name span {
  color: #34B3F1;
}
.home .contaiter .left-col .port span {
  color: #34B3F1;
}
.home .contaiter .left-col .port span1 {
  color: #FD841F;
}
.home .contaiter .left-col .btn-contact-Me {
  background: #34B3F1;
  color: white;
  text-decoration: none;
  padding: 0.6em 1.3em;
  font-size: 1.4em;
  border-radius: 10px;
  font-weight: bold;
  display: inline-block;
  transition: all 1s ease 0s;
}
.home .contaiter .left-col .btn-contact-Me:hover {
  background: #0a7cb5;
}
.home .contaiter .left-col .btn-about-Me {
  background: #FD841F;
  color: white;
  text-decoration: none;
  padding: 0.6em 1.3em;
  font-size: 1.4em;
  border-radius: 10px;
  font-weight: bold;
  display: inline-block;
  margin-left: 20px;
  transition: all 1s ease 0s;
}
.home .contaiter .left-col .btn-about-Me:hover {
  background: #b04f00;
}
.home .contaiter .left-col .main-cta {
  margin-top: 50px;
}

.img-me {
  width: 45%;
  transition: all 1s ease 0s;
}

.img-me:hover {
  transform: scale(1.1);
}

section.about {
  background: #1E1E1E;
  color: white;
  height: 900px;
}
section.about .contaiter {
  display: flex;
  justify-content: space-between;
  text-align: left;
}
section.about .about-me-list .text-about-me {
  font-size: 40px;
  margin-top: 0.5em;
  margin-bottom: 1em;
}
section.about .about-me-list .text-about-me .dot {
  height: 20px;
  width: 20px;
  background-color: #34B3F1;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 25px;
}
section.about .about-me-list .text-name {
  font-size: 90px;
  line-height: 1.2em;
  width: 480px;
  background: -webkit-linear-gradient(#34B3F1, #1F69DD);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
section.about .about-me-list .text-nickname {
  font-size: 35px;
  margin-top: 0.3em;
}
section.about .about-me-list .text-nickname span {
  color: #FD841F;
}
section.about .about-me-list .text-about {
  margin-top: 1.5em;
  font-size: 25px;
  width: 800px;
}
section.about .scoial-contaiter {
  display: flex;
  margin-top: 230px;
}
section.about .scoial-contaiter a {
  color: white;
  transform: scale(1.5);
  margin-right: 1.5em;
}
section.about img {
  width: 500px;
  border-radius: 10px;
}

section.skills {
  background: #34B3F1;
  left: 0;
  top: 0;
  color: #1E1E1E;
  height: 900px;
  width: 900px;
}
section.skills .container {
  text-align: left;
}
section.skills h1 {
  font-size: 40px;
  margin-top: 0.5em;
  margin-bottom: 1em;
}
section.skills h1 .dot {
  height: 20px;
  width: 20px;
  background-color: #FD841F;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 25px;
}
section.skills h2 {
  width: 300px;
  line-height: 60px;
  font-size: 100px;
  color: white;
}
section.skills h2 span {
  color: #FD841F;
}
section.skills h3 {
  margin-top: 2em;
  font-size: 30px;
}
section.skills p {
  margin-top: 1em;
  font-weight: normal;
  font-size: 30px;
}
section.skills .btn-contact-Me {
  background: #FD841F;
  color: white;
  text-decoration: none;
  padding: 0.6em 1.3em;
  font-size: 1.4em;
  border-radius: 10px;
  font-weight: bold;
  display: inline-block;
  transition: all 1s ease 0s;
  margin-top: 100px;
}
section.skills .btn-contact-Me:hover {
  background: #b04f00;
}

.footer .container {
  display: flex;
  background-color: #1E1E1E;
  padding: 10px 8%;
  width: 100%;
  height: 120px;
  align-items: center;
  color: white;
  left: 0;
}
.footer .container .text {
  font-weight: normal;
  font-size: 15px;
}
.footer .container .footer-logo img {
  transform: scale(0.6);
}
.footer .container .btn {
  color: white;
  text-decoration: none;
  margin-left: auto;
}
.footer .container .btn:hover {
  color: #34B3F1;
}/*# sourceMappingURL=styles.css.map */